<mat-toolbar color="primary">
  <span>Smart Resume Generator</span>
</mat-toolbar>

<div class="app-container">

  <!-- LEFT: Upload PDF -->
  <mat-card class="side-panel mat-elevation-z2">
    <app-resume-upload (processed)="onProcessed($event)"></app-resume-upload>
  </mat-card>

  <!-- CENTER: Tabs for PDF / Text Preview -->
  <mat-card class="center-panel mat-elevation-z2">
    <mat-tab-group class="center-content" mat-stretch-tabs>
      <mat-tab label="Resume">
        <div class="tab-content">
          <app-resume-viewer [pdfUrl]="pdfSrc" (lineIdToTextMap)="onLinesExtracted($event)">
          </app-resume-viewer>
        </div>
      </mat-tab>
      @if(resumeDraft && resumeDraft.lines && resumeDraft.lines.length > 0){
      <mat-tab label="Text Preview">
        <div class="tab-content">
          <app-text-preview [originalLines]="originalLinesForPreview" [updatedLines]="updatedLinesForPreview"
            (resumeTextChanged)="updateResumeDraft($event)">
          </app-text-preview>
        </div>
      </mat-tab>
      }
    </mat-tab-group>
  </mat-card>

  <!-- RIGHT: Suggestions Panel -->
  <mat-card class="side-panel mat-elevation-z2">
    <app-suggestions-panel [evaluation]="evaluation" (suggestionApplied)="onApplySuggestion($event)">
    </app-suggestions-panel>
  </mat-card>

</div>